.hero {
  height: max-content;
  height: auto;
  padding: 10px 200px 50px 200px;
}

.upper {
  text-align: center;
}

.title {
  font-size: 70px;
  font-weight: bold;
}

.info {
  font-size: 30px;
}

.btns {
  text-align: center;
  padding: 60px;
}

.booknow {
  text-align: center;
  padding: 19px;
  margin-right: 30px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 0;
  background-color: #0052ff;
  color: white;
}

.btn2 {
  text-align: center;
  padding: 18px;
  margin-left: 30px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 1;
  border-color: #0052ff;
  background-color: white;
}

.cardss {
  margin-top: -60px;
  display: flex;
  justify-content: center; /* Center the cards within the container */
  align-items: center; /* Center the cards vertically */
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px; /* Space between rows */
}

.custom-card {
  flex: 0 1 23%; /* Adjust the width as needed */
  margin: 10px; /* Adjust the margin as needed */
  box-sizing: border-box;
}

.cardoverlay {
  color: white;
  font-weight: bold;
  margin-top: 200px;
  font-size: 1.5rem;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;
  border-radius: 20px;
}
