.aboutus {
  height: auto;
  width: 100%;
  display: flex;
  background-color: var(--blue);
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5rem;
}

.a-left {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 70%;
}

.affect {
  position: absolute;
  z-index: 1; /* Lower z-index to be behind the images */
}

.about1,
.about2 {
  width: 50%;
  height: max-content;
  z-index: 2; /* Higher z-index to be in front of the affect element */
}

.about1 {
  margin-top: 170px;
  margin-right: -150px;
}

.about2 {
  margin-bottom: 170px;
}

.a-right {
  margin: 10px;
  width: 55%;
  color: white;
  font-size: 1.5rem;
  border: 1px;
  height: 50vh;
  gap: 0.2rem;
}

.a-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.a-titleM {
  font-size: 3rem;
  font-weight: bold;
  color: white; /* Text color */
  text-shadow: -2px -2px 0 #000, 2px 2px 0 #000, -2px -2px 0 #000,
    2px 2px 0 #000; /* Outline color and position */
}

.a-para {
  font-weight: 300;
  font-size: 1.2rem;
}

.a-btns {
  float: left;
  margin-top: -3rem;
  margin-left: -3rem;
}

.a-booknow {
  padding: 0.8rem;
  border-radius: 10px;
  font-size: 28px;
  border: 0;
  margin-right: 3rem;
  color: var(--blue);
  font-size: larger;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.a-booknow:hover {
  background-color: lightgray;
}

.a-watch {
  padding: 0.8rem;
  border-radius: 10px;
  font-size: 30px;
  border: 0;
  margin-right: 3rem;
  color: white;
  font-weight: 600;
  background-color: transparent;
  transition: ease-in-out 0.2s;
}

.a-watch:hover {
  color: lightgrey;
}

.icon-space {
  margin-right: 15px; /* Adjust the space as needed */
  font-size: larger;
}

@media (max-width: 1200px) {
  .aboutus {
    min-height: 50rem; /* Adjust this value as needed */
    width: 100%;
    display: flex;
    background-color: var(--blue);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25rem;
  }

  .about1,
  .about2 {
    width: 100%;
    height: max-content;
    z-index: 2; /* Higher z-index to be in front of the affect element */
  }

  .about1 {
    margin-top: 10px;
    margin-right: -150px;
  }

  .about2 {
    margin-bottom: 10px;
  }

  .a-title {
    font-weight: bold;
    font-size: 1rem;
  }

  .a-titleM {
    font-size: 1.6rem;
    font-weight: bold;
    color: white; /* Text color */
    text-shadow: -2px -2px 0 #000, 2px 2px 0 #000, -2px -2px 0 #000,
      2px 2px 0 #000; /* Outline color and position */
  }

  .a-para {
    font-weight: 300;
    font-size: 1rem;
  }

  .a-btns {
    float: left;
    margin-top: -3rem;
    margin-left: -3rem;
  }

  .a-btns {
    margin-top: 10px;
    float: left;
  }
}

@media (max-width: 768px) {
  .aboutus {
    min-height: 75rem; /* Adjust this value as needed */
    width: 100%;
    display: flex;
    background-color: var(--blue);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0.8rem;
  }

  .a-left {
    margin-top: -350px;
  }

  .about1,
  .about2 {
    width: 100%;
    height: max-content;
    z-index: 2; /* Higher z-index to be in front of the affect element */
  }

  .about1 {
    margin-top: 10px;
    margin-right: -150px;
  }

  .about2 {
    margin-bottom: 10px;
  }

  .a-title {
    font-weight: bold;
    font-size: 1rem;
  }

  .a-titleM {
    font-size: 1.6rem;
    font-weight: bold;
    color: white; /* Text color */
    text-shadow: -2px -2px 0 #000, 2px 2px 0 #000, -2px -2px 0 #000,
      2px 2px 0 #000; /* Outline color and position */
  }

  .a-para {
    font-weight: 300;
    font-size: 1rem;
  }

  .a-btns {
    float: left;
    margin-top: -3rem;
    margin-left: -3rem;
  }

  .a-btns {
    margin-top: 10px;
    float: left;
  }
}

@media (max-width: 480px) {
  .aboutus {
    min-height: 85rem; /* Adjust this value as needed */
    width: 100%;
    display: flex;
    background-color: var(--blue);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .a-left {
    margin-top: -550px;
  }

  .about1,
  .about2 {
    width: 100%;
    height: max-content;
    z-index: 2; /* Higher z-index to be in front of the affect element */
  }

  .about1 {
    margin-top: 10px;
    margin-right: -150px;
  }

  .about2 {
    margin-bottom: 10px;
  }

  .a-title {
    font-weight: bold;
    font-size: 1rem;
  }

  .a-titleM {
    font-size: 1.6rem;
    font-weight: bold;
    color: white; /* Text color */
    text-shadow: -2px -2px 0 #000, 2px 2px 0 #000, -2px -2px 0 #000,
      2px 2px 0 #000; /* Outline color and position */
  }

  .a-para {
    font-weight: 300;
    font-size: 1rem;
  }

  .a-btns {
    float: left;
    margin-top: -3rem;
    margin-left: -3rem;
  }

  .a-btns {
    margin-top: 10px;
    float: left;
  }
}
