:root
{
  --blue: #0342ca;
    --blue1 :rgb(23, 95, 252);
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --blue2: rgb(145, 180, 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --blue3: rgb(14, 91, 255);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);    
}

.button {
  background: linear-gradient(180deg, rgb(23, 95, 252) 26.71%, rgb(23, 95, 252) 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(0, 61, 194, 0.336);
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
}

  @media screen and (max-width: 480px) {
    .App {
      padding: 0.5rem 1rem;

    }
  }

  

  